{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="space-y-8 p-8">

    <h1 class="text-4xl text-center">All the Cookie Stands</h1>
    <div class="w-full mx-auto text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      {% for cookiestand in cookiestands %}
        <div class="border-b border-gray-200 dark:border-gray-600">
          <!-- Stand Location and Detail Link -->
          <a href="{% url 'cookiestand_detail' cookiestand.pk %}" class="block px-4 py-4 bg-blue-700 text-white rounded-t-lg cursor-pointer hover:bg-blue-800 dark:bg-gray-800 dark:hover:bg-gray-700">
            <h3 class="text-lg font-bold">{{ cookiestand.location }}</h3>
          </a>
          <!-- Stand Details -->
          <div class="px-4 py-4 bg-gray-50 dark:bg-gray-700">
            {% if cookiestand.description %}
            <p><span class="font-bold">Description:</span> {{ cookiestand.description }}</p>
            {% endif %}
            <p><span class="font-bold">Owner:</span> {{ cookiestand.owner }}</p>
            <p><span class="font-bold">Minimum Customers Per Hour:</span> {{ cookiestand.minimum_customers_per_hour }}</p>
            <p><span class="font-bold">Maximum Customers Per Hour:</span> {{ cookiestand.maximum_customers_per_hour }}</p>
            <p><span class="font-bold">Average Cookies Per Sale:</span> {{ cookiestand.average_cookies_per_sale }}</p>
          </div>
        </div>
      {% empty %}
        <p class="px-4 py-4">No cookie stands available.</p>
      {% endfor %}
    </div>

  </div>

{% endblock content %}
